__pycache__/
.DS_Store
.devcontainer
.env
.venv
venv/
.flake8
qa_logs/
inference_logs/
.vscode/
datasets/
lib/
*/kg_dump/
*/graphs/
.mp4
wikontic-demo-animation/node_modules/
wikontic-demo-animation/out/
wikontic-demo-animation/.vite/
wikontic-demo-animation/*.mp4
wikontic-demo-animation/*.png
